@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sistema de Registro de Requerimientos</h1>
    <p>Para Registrar Seleccione en el Menu Registrar</p>
</div>
